<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to green-eye</title>
    <script src="https://cdn.tailwindcss.com?plugins=typography"></script>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>

</head>
<body class="antialiased">
<!-- navbar -->
<nav class="border flex flex-row bg-gray-200">
    <div class="basis-1/4 flex border-black text-center justify-center">
        <a href="/" class="font-bold self-center">green-eye</a>

    </div>

    <div class="flex flex-row gap-10">
        <a href="/" class="hover:bg-gray-50 p-4">Home</a>
        <a href="/about" class="hover:bg-gray-50 p-4" >About</a>
        <a href="/deforest" class="hover:bg-gray-50 p-4">Deforestation</a>
    </div>

</nav>

<section class="prose flex flex-col justify-center my-20 min-w-full">
    <div class="w-1/2 self-center">
        {% block content %}
        {% endblock %}
    </div>
</section>


{% block page-scripts %}
{% endblock %}
</body>
</html>
